/*Css For index.html */
body{
background-image: url(/Assets/bg.jpg)


}

.vid-overlay{
    background: rgba(0,0,0,0);
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
 
  .MainText{
position:relative   
}
  