/*For text overlay*/

.vid-container{
    position: relative;
    background-color:rgba(0, 0, 0, 0.9)
  
} 

.vid-text{

font-size: calc(1vw + 1vh + 2vmin);

}

.vid-overlay {
    background: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0px;
    left: 0;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.heroPOS{
z-index: 1;
position: relative; 
}

.skills {
  border-top: 1px solid #E6ECF8;
}

/*
*Progress Bar Animation
*/

.easeOut { 
  width:40%;  /*These have to be the same*/
  animation:easeOut 2s ease-out;
}

@keyframes easeOut {
  0%  { width:0px;}
  100%{ width:40%;} /*These have to be the same*/
}

/*
*Console
*/
#console {
    width: 96%;
    height: 250px;
    padding: 10px;
    color: white;
    font-weight: 120;
    font-family: 'Lato';
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.9);

  }

  .hidden-input {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    opacity: 0;
  }
  
  #console a{
    color: orange;
    text-decoration: underline;
  
  
  }
  
  #bar {
    background-color:black;
    width: 96%;
    height: 40px;
    padding: 10px;
  }
  
  #bar > div {
    float: left;
    margin-left: 10px;
  }
  
  #window {
    color: #fff;
    font-weight: 800;
    height: 420px;
    padding: 25px;
  }
  
  #green {
    background-color: #39d1b4;
    border-radius: 50%;
    margin-top: 7px;
    height: 15px;
    width: 15px;
  }
  
  #yellow {
    background-color: #fff799;
    border-radius: 50%;
      margin-top: 7px;
    height: 15px;
    width: 15px;
  }
  
  #red {
    background-color: #f65a5b;
    border-radius: 50%;
      margin-top: 7px;
  
    height: 15px;
    width: 15px;
  }
  
  #barText{
      margin-top: 5px;
    text-align: center;
    color: white; 
  
  }
  
  .blue {
    color: #55acee;
  }
  
  .red {
    color: red;
  }
  
  .green {
    color: green;
  }
  
  
  .consoleLine {
    overflow: hidden;
    width: 100%;
    white-space: normal;
    font-family: 'Arial';
    word-wrap: break-word;
  
  }

  .greetingText {
    overflow: hidden;
    width: 100%;
    white-space: normal;
    font-family: 'Arial';
    word-wrap: break-word;
  
  }
  
  /*Ensures All Console Text is the Same*/
  .consoleLineFont {
    font-family: 'Arial';
    }
  

  .consoleOutPutLine {
    overflow: hidden;
    width: 100%;
    white-space: normal;
    font-family: 'Arial';
    word-wrap: break-word;
  
  }

/*Blinking Cursor CSS*/
@keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
  .blinkplz::after {
    content: "";
    /* Remove display: inline-block if not required to be on the same line as text etc */
    display: inline-block;
    background-color: green;
    vertical-align: top;
    width: 10px;
    /* Set height to the line height of .text */
    height: 24px;
    /* 
    Animation paramaters:
    blink = animation-name, 
    1s = animation-duration, 
    step-end = animation-timing-function,
    infinite = animation-iteration-count
    */
    /*-webkit-animation: blink 1s step-end infinte;*/
    animation: blink 0.5s step-end infinite;
   
  }

.hero.is-primary {
    background-color: #1e88e5;
  }

  .title, .subtitle {
    color: #fff;
  }

  .button.is-info {
    background-color: #1e88e5;
    border-color: #1e88e5;
  }

  .button.is-info:hover {
    background-color: #1565c0;
    border-color: #1565c0;
  }

  .button.is-info.is-outlined {
    background-color: transparent;
    border-color: #1e88e5;
    color: #1e88e5;
  }

  .button.is-info.is-outlined:hover {
    background-color: #1e88e5;
    color: #fff;
  }
 