#Acelogo {
  display: block;
  margin: auto;
  width: 40%;
}

body {
  background-image: url('acelogic.github.io/Assets/blurredBackground.jpg');


}

#navigationDIV {
  color: "blue";
}

.navItems {
  list-style-type: none;
  margin: 2;
  padding: 0;
}

li {
  display: inline;
}
