.demo-layout-transparent {
        background: url("Assets/AcelogicLogoNew.png") center / cover;
    }

    .demo-layout-transparent .mdl-layout__header,
    .demo-layout-transparent .mdl-layout__drawer-button {
        /* This background is dark, so we set text to white. Use 87% black instead if
your background is light. */
        color: white;
    }
